.home-container {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/bg.jpg");
    background-size: cover;
    animation: show 1s ease-in;
}

.title {
    width: 450px;
    height: 150px;
    background-image: url("../../assets/images/title.png");
    background-size: cover;
    text-align: center;
    line-height: 300px;
    color: #fff;
    user-select: none;
}